<%- include('topPage'); -%>
    <div class="container">
        <div class="card-group row">
            <% skills.forEach(skill => {%>
                <div class="col-md-3">
                    <h5 class="">
                        <%= skill.title %>
                    </h5>
                    <p>
                        <%= skill.number %>
                    </p>
                    <form action="/delete" method="POST">
                        <input type="hidden" name="deleteSkill" value=<%=skill._id %>>
                        <button type="submit" name="deleteSkillBtn" value="deleteSkillBtn">Delete</button>
                    </form>
                    <form action="/update" method="POST">
                        <input type="hidden" name="updateSkill" value=<%=skill._id %>>
                        <button type="submit" name="updateSkillBtn" value="updateSkillBtn">Update</button>
                    </form>
                </div>
                <% });  %>
        </div>
    </div>
    <%- include('bottomPage'); -%>